requests==2.32.3
pandas==2.1.4
python-dotenv==1.0.1
hopsworks==4.1.4
hopsworks[python]
scikit-learn==1.5.2 
# Plot charts
matplotlib==3.8.3
tensorflow==2.16.1
seaborn==0.13.2
jupyter==1.1.1
nbconvert==7.16.5